In [3]:
# Design Patterns Logbook #
# Connor Martin #
# ID: 22134458 #
# September 2024 #

## <font color="red">Logbook Exercise 1</font> ##

Insert a 'code' cell below. In this do the following:

- line 1 - create a list named "shopping_list" with items: milk, eggs, bread, cheese, tea, coffee, rice, pasta, milk, tea (<font color="red">NOTE: the duplicate items are intentional</font>)
- line 2 - print the list along with a message e.g. "This is my shopping list ..."
- line 3 - create a tuple named "shopping_tuple" with the same items
- line 4 - print the tuple with similar message e.g. "This is my shopping tuple ..."
- line 5 - create a set named "shopping_set" from "shopping_list" by using the set() method
- line 6 - print the set with appropriate message and check duplicate items have been removed
- line 7 - make a dictionary "shopping_dict" - copy and paste the following items and prices: "milk": "£1.20", "eggs": "£0.87", "bread": "£0.64", "cheese": "£1.75", "tea": "£1.06", "coffee": "£2.15", "rice": "£1.60", "pasta": "£1.53".
- line 8 - print the dictionary with an appropriate message 

An example of fully described printed output is presented below (some clues here also)
Don't worry of your text output is different - it is the contents of the compund variables that matter

```
This is my shopping list ['milk', 'eggs', 'bread', 'cheese', 'tea', 'coffee', 'rice', 'pasta', 'milk', 'tea']
This is my shopping tuple ('milk', 'eggs', 'bread', 'cheese', 'tea', 'coffee', 'rice', 'pasta', 'milk', 'tea')
This is my Shopping_set with duplicates removes {'rice', 'milk', 'pasta', 'cheese', 'eggs', 'tea', 'bread', 'coffee'}
This is my shopping_dict {'milk': '£1.20', 'eggs': '£0.87', 'bread': '£0.64', 'cheese': '£1.75', 'tea': '£1.06', 'coffee': '£2.15', 'rice': '£1.60', 'pasta': '£1.53'}
```

In [36]:
shopping_list = ['milk', 'eggs', 'break', 'cheese', 'tea', 'coffee', 'rice', 'pasta', 'milk', 'tea']
shopping_tuple = ('milk', 'eggs', 'break', 'cheese', 'tea', 'coffee', 'rice', 'pasta', 'milk', 'tea')
shopping_set = set(('milk', 'eggs', 'break', 'cheese', 'tea', 'coffee', 'rice', 'pasta', 'milk', 'tea'))
shopping_dict = { "milk": "£1.20", "eggs": "£0.87", "bread": "£0.64", "cheese": "£1.75", "tea": "£1.06", "coffee": "£2.15", "rice": "£1.60", "pasta": "£1.53"}

print ("this is my shopping list: ", shopping_list)
print ("this is my shopping tuple: ", shopping_tuple)
print ("this is my shopping set: ", shopping_set)
print ("these are the prices: " , shopping_dict)

this is my shopping list:  ['milk', 'eggs', 'break', 'cheese', 'tea', 'coffee', 'rice', 'pasta', 'milk', 'tea']
this is my shopping tuple:  ('milk', 'eggs', 'break', 'cheese', 'tea', 'coffee', 'rice', 'pasta', 'milk', 'tea')
this is my shopping set:  {'eggs', 'tea', 'pasta', 'rice', 'cheese', 'coffee', 'milk', 'break'}
these are the prices:  {'milk': '£1.20', 'eggs': '£0.87', 'bread': '£0.64', 'cheese': '£1.75', 'tea': '£1.06', 'coffee': '£2.15', 'rice': '£1.60', 'pasta': '£1.53'}

## <font color="red">Logbook Exercise 2</font> ##

Create a 'code' cell below. In this do the following:

- line 1 - Use a comment to title your exercise - e.g. "Unit 2 Exercise" 
- line 2 - create a list ... li = ["USA","Mexico","Canada"]
- line 3 - append "Greenland" to the list
- l4 - print the list to de,monstrate that Greenland is attached
- l5 - remove "Greenland"
- l6 - print the list to de,monstrate that Greenland is removed
- l7 - insert "Greenland" at the beginning of the list
- l8 - print the resul of l7
- l9 - shorthand slice the list to extract the first two items - simultaneausly print the output
- l10 - use a negative index to extract the second to last item - simultaneausly print the output
- l11 - use a splitting sequence to extract the middle two items - simultaneausly print the output

An example of fully described printed output is presented below (some clues here also)
Don't worry of your text output is different - it is the contents of the list that matter

```
li.append('Greenland') gives ...  ['USA', 'Mexico', 'Canada', 'Greenland']
li.remove('Greenland') gives ...  ['USA', 'Mexico', 'Canada']
li.insert(0,'Greenland') gives ...  ['Greenland', 'USA', 'Mexico', 'Canada']
li[:2] gives ...  ['Greenland', 'USA']
li[-2] gives ...  Mexico
li[1:3] gives ...  ['USA', 'Mexico']
```

In [9]:
# Exercise 2 #
country_list = ["USA","Mexico","Canada"]
print(country_list)
country_list.append("Greenland")
print(country_list)
country_list.remove("Greenland")
print(country_list)
country_list.insert(0,"Greenland")
print(country_list)
print(country_list[:2])
print(country_list[-2])
print(country_list[1:3])

['USA', 'Mexico', 'Canada']
['USA', 'Mexico', 'Canada', 'Greenland']
['USA', 'Mexico', 'Canada']
['Greenland', 'USA', 'Mexico', 'Canada']
['Greenland', 'USA']
Mexico
['USA', 'Mexico']

## <font color="red">Logbook Exercise 3</font> ##

Create a 'code' cell below. In this do the following:
- on the first line create the following set ... a=[0,1,2,3,4,5,6,7,8,9,10] 
- on the second line create the following set ... b=[0,5,10,15,20,25]
- on the third line create the following dictionary ... topscores={"Jo":999, "Sue":987, "Tara":960; "Mike":870}
- use a combination of print() and type() methods to produce the following output

```
list a is ...  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list b is ...  [0, 5, 10, 15, 20, 25]
The type of a is now ... <class 'list'>
```

- on the next 2 lines convert list a and b to sets using set()
- on the following lines use a combination of print(), type() and set notaion (e.g. 'a & b', 'a | b', 'b-a') to obtain the following output

```
set a is ...  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set b is ...  {0, 5, 10, 15, 20, 25}
The type of a is now ... <class 'set'>
Intersect of a and b is [0, 10, 5]
Union of a and b is [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25]
Items unique to set b are {25, 20, 15}
```

- on the next 2 lines use print(), '.keys()' and '.values()' methods to obtain the following output 

```
topscores dictionary keys are dict_keys(['Jo', 'Sue', 'Tara', 'Mike'])
topscores dictionary values are dict_values([999, 987, 960, 870])
```

In [29]:
a=[0,1,2,3,4,5,6,7,8,9,10]
b=[0,5,10,15,20,25]
topscores= {"Jo": 999, "Sue": 987, "Tara": 960, "Mike": 870}
print("list a is ", a)
print("list b is ", b)
print("The type of a is now ",type(a))
a = set(a)
b = set(b)
print ("set a is ", a)
print ("set b is ", b)
print ("The type of a is now ", type(a))
print ("Intersect of a and b is ", a & b)
print ("Union of a and b is ", a | b)
print ("Items unique to set b are ", b-a)
print ("topscores dictionary keys are ", topscores.keys())
print ("topscores dictionary values are ", topscores.values())

list a is  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list b is  [0, 5, 10, 15, 20, 25]
The type of a is now  <class 'list'>
set a is  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set b is  {0, 5, 10, 15, 20, 25}
The type of a is now  <class 'set'>
Intersect of a and b is  {0, 10, 5}
Union of a and b is  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25}
Items unique to set b are  {25, 20, 15}
topscores dictionary keys are  dict_keys(['Jo', 'Sue', 'Tara', 'Mike'])
topscores dictionary values are  dict_values([999, 987, 960, 870])

### <font color="red">Logbook Exercise 4</font> ###

Create a 'code' cell below. In this do the following:
- Given the following 4 lists of names, house number and street addresses, towns and postcodes ...  

```
["T Cruise","D Francis","C White"]
["2 West St","65 Deadend Cls","15 Magdalen Rd"]
["Canterbury", "Reading", "Oxford"]
["CT8 23RD", "RG4 1FG", "OX4 3AS"]
```

- write a Custom 'address_machine' function that formats 'name', 'hs_number_street', 'town', 'postcode' with commas and spaces between items
- create a 'newlist' that repeatedly calls 'address_machine' and 'zips' items from the 4 lists
- write a 'for loop' that iterates over 'new list' and prints each name and address on a separate line
- the output should appear as follows

```
T Cruise, 2 West St, Canterbury, CT8 23RD
D Francis, 65 Deadend Cls, Reading, RG4 1FG
C White, 15 Magdalen Rd, Oxford, OX4 3AS
```

- <font color="red">HINT:</font> look at "# CUSTOM FUNCTION WORKED EXAMPLES 3 & 4" above

In [76]:
a = ["T Cruise","D Francis","C White"]
b = ["2 West St","65 Deadend Cls","15 Magdalen Rd"]
c = ["Canterbury", "Reading", "Oxford"]
d = ["CT8 23RD", "RG4 1FG", "OX4 3AS"]

def address_machine(name, hs_number_street, town, postcode):
    info = "{0}, {1}, {2}, {3} ".format(name, hs_number_street, town, postcode)
    return info
newlist = [address_machine(a, b, c, d) 
           for a, b, c, d in zip(a, b, c, d)]
for address in newlist:
    print(address)

T Cruise, 2 West St, Canterbury, CT8 23RD
D Francis, 65 Deadend Cls, Reading, RG4 1FG
C White, 15 Magdalen Rd, Oxford, OX4 3AS